<div class="forget-password-container">
  
  <div class="form_box">



    <h3 class="step-title">
      <ng-container *ngIf="step === 1">Khôi phục mật khẩu</ng-container>
      <ng-container *ngIf="step === 2">Xác thực OTP</ng-container>
      <ng-container *ngIf="step === 3">Tạo mật khẩu mới</ng-container>
    </h3>

    <div class="form-body">
      <ng-container *ngIf="step === 1">
        <span class="label">Email đăng ký</span>
        <input type="email" [(ngModel)]="email" placeholder="Nhập địa chỉ email của bạn">
        <button class="action_button" (click)="sendEmail(email)">
          Gửi mã xác nhận
        </button>
      </ng-container>

      <ng-container *ngIf="step === 2">
        <span class="label">Mã OTP</span>
        <input type="text" [(ngModel)]="otp" placeholder="Nhập mã 6 số gửi về email">
        <button class="action_button" (click)="verifyOtp(otp)">
          Xác nhận
        </button>
      </ng-container>

      <ng-container *ngIf="step === 3">
        <span class="label">Mật khẩu mới</span>
        <input type="password" [(ngModel)]="newPassword" placeholder="Nhập mật khẩu mới">

        <span class="label">Xác nhận mật khẩu</span>
        <input type="password" [(ngModel)]="confirmPassword" placeholder="Nhập lại mật khẩu mới">

        <button class="action_button" (click)="resetPassword()">
          Lưu thay đổi
        </button>
      </ng-container>

      <div class="back-to-login" (click)="backToLogin()">
    
    <span>Quay lại đăng nhập</span>
</div>
    </div>

  </div>
</div>

<app-loading *ngIf="isloading"></app-loading>
<app-alert
  *ngIf="isalert"
  [message]="alertmessage"
  [notifyType]="alertType"
  (hidden)="isalert = false"
></app-alert>